@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-avenir), sans-serif;
}


html {
  scroll-behavior: smooth;
}

@layer utilities {
  /* Define background colors */
  .bg-spotify-green {
    @apply bg-[#1DB954];
  }

  .bg-spotify-dark-green {
    @apply bg-[#189a45];
  }

  .bg-spotify-black {
    @apply bg-[#121212];
  }

  .bg-spotify-light-dark {
    @apply bg-[#212121];
  }

  .bg-spotify-gray {
    @apply bg-[#535353];
  }

  .bg-spotify-gray-hover {
    @apply bg-[#323131];
  }

  .bg-spotify-light-gray {
    @apply bg-[#B3B3B3];
  }

  .bg-spotify-white {
    @apply bg-[#FFFFFF];
  }

  /* Define text colors */
  .text-spotify-green {
    @apply text-[#1DB954];
  }

  .text-spotify-black {
    @apply text-[#121212];
  }

  .text-spotify-light-dark {
    @apply text-[#212121];
  }

  .text-spotify-gray {
    @apply text-[#535353];
  }

  .text-spotify-light-gray {
    @apply text-[#B3B3B3];
  }

  .text-spotify-white {
    @apply text-[#FFFFFF];
  }
}

body {
  @apply bg-spotify-black text-spotify-white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #444 #1a1a1a;
}
@keyframes wave {
  0%, 100% {
    transform: scaleY(0.45);
  }

  50% {
    transform: scaleY(1.25);
  }
}

.animate-wave {
  animation-name: wave;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}